<div class="container">
    <header class="jumbotron">
      <h5 class="text-center">Ovdje možete poslati novac drugom korisniku</h5> 
     </header>


     <div class="jumbotron">
         <h6>Stanje Vašeg računa: 1000 BAM</h6>
        
         <br/>

         <form>
             
             <label>Ako želite poslati novac molimo Vas da popunite formu ispod.</label>
             <br/><br/>
             <div class="form-group">
                <label>Transakcijski račun</label>
                <br/>
                <input type="number">
             </div>
             <div class="form-group">
                 <label>Iznos</label>
                 <br/>
                <input type="number">
            </div>

            <div class="form_group">
                <label>Izaberite valutu</label>
                <br/>
                <select id="valuta" name="valuta">
                    <option value="BAM" selected>BAM - Konvertibilna marka</option>
                    <option value="EUR">EUR - Euro</option>
                    <option value="USD">USD - Američki dolar</option>
                    <option value="HRK">HRK - Hrvatska kuna</option>
                    <option value="RSD">RSD - Srpski dinar</option>
                    <option value="GBP">GBP - United Kingdom Pounds</option>
                    <option value="DZD">DZD - Algeria Dinars</option>
                    <option value="ARP">ARP - Argentina Pesos</option>
                    <option value="AUD">AUD - Australia Dollars</option>
                    <option value="ATS">ATS - Austria Schillings</option>
                    <option value="BSD">BSD - Bahamas Dollars</option>
                    <option value="BBD">BBD - Barbados Dollars</option>
                    <option value="BEF">BEF - Belgium Francs</option>
                    <option value="BMD">BMD - Bermuda Dollars</option>
                    <option value="BRR">BRR - Brazil Real</option>
                    <option value="BGL">BGL - Bulgaria Lev</option>
                    <option value="CAD">CAD - Canada Dollars</option>
                    <option value="CLP">CLP - Chile Pesos</option>
                    <option value="CNY">CNY - China Yuan Renmimbi</option>
                    <option value="CYP">CYP - Cyprus Pounds</option>
                    <option value="CSK">CSK - Czech Republic Koruna</option>
                    <option value="DKK">DKK - Denmark Kroner</option>
                    <option value="NLG">NLG - Dutch Guilders</option>
                    <option value="EGP">EGP - Egypt Pounds</option>
                    <option value="FJD">FJD - Fiji Dollars</option>
                    <option value="FIM">FIM - Finland Markka</option>
                    <option value="FRF">FRF - France Francs</option>
                    <option value="DEM">DEM - Germany Deutsche Marks</option>
                    <option value="GRD">GRD - Greece Drachmas</option>
                    <option value="HKD">HKD - Hong Kong Dollars</option>
                    <option value="HUF">HUF - Hungary Forint</option>
                    <option value="ISK">ISK - Iceland Krona</option>
                    <option value="INR">INR - India Rupees</option>
                    <option value="IDR">IDR - Indonesia Rupiah</option>
                    <option value="IEP">IEP - Ireland Punt</option>
                    <option value="ITL">ITL - Italy Lira</option>
                    <option value="JMD">JMD - Jamaica Dollars</option>
                    <option value="JPY">JPY - Japan Yen</option>
                    <option value="JOD">JOD - Jordan Dinar</option>
                    <option value="KRW">KRW - Korea (South) Won</option>
                    <option value="LBP">LBP - Lebanon Pounds</option>
                    <option value="LUF">LUF - Luxembourg Francs</option>
                    <option value="MYR">MYR - Malaysia Ringgit</option>
                    <option value="MXP">MXP - Mexico Pesos</option>
                    <option value="NLG">NLG - Netherlands Guilders</option>
                    <option value="NZD">NZD - New Zealand Dollars</option>
                    <option value="NOK">NOK - Norway Kroner</option>
                    <option value="PKR">PKR - Pakistan Rupees</option>
                    <option value="PLZ">PLZ - Poland Zloty</option>
                    <option value="PTE">PTE - Portugal Escudo</option>
                    <option value="ROL">ROL - Romania Leu</option>
                    <option value="RUR">RUR - Russia Rubles</option>
                    <option value="SAR">SAR - Saudi Arabia Riyal</option>
                    <option value="SGD">SGD - Singapore Dollars</option>
                    <option value="SKK">SKK - Slovakia Koruna</option>
                    <option value="ZAR">ZAR - South Africa Rand</option>
                    <option value="KRW">KRW - South Korea Won</option>
                    <option value="ESP">ESP - Spain Pesetas</option>
                    <option value="SDD">SDD - Sudan Dinar</option>
                    <option value="SEK">SEK - Sweden Krona</option>
                    <option value="CHF">CHF - Switzerland Francs</option>
                    <option value="TWD">TWD - Taiwan Dollars</option>
                    <option value="THB">THB - Thailand Baht</option>
                    <option value="TTD">TTD - Trinidad and Tobago Dollars</option>
                    <option value="TRL">TRL - Turkey Lira</option>
                    <option value="VEB">VEB - Venezuela Bolivar</option>
                    <option value="ZMK">ZMK - Zambia Kwacha</option>
                  </select>
            </div> 
            <br/>

            <div class="form-group">
                <button class="btn  btn-danger">
                  Pošalji
                </button>
              </div>
             
            
                 
             
         </form>
     </div>
     
  </div>